body {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ebdf73;
    font-family: Helvetica;
    text-align: justify;
    padding: 10px;
}

h1 { 

    background-color: darkgreen;
    color:brown;
    padding: 20px;
    border-radius: 20px;
}

h2 { 

    background-color: gray;
    color: black;
    padding: 20px;
    border-radius: 20px;
}

h3 { 

    background-color: rgb(138, 19, 19);
    color: black;
    padding: 20px;
    border-radius: 20px;
}

p {
    font-size: medium;
  }
  
  .columna {
      width: 42%;
      float: left;
      margin: 5px;
  }

  img {
      width: 100%;
      border-radius: 10px;
      margin: 15px;
  }

  .dentro {
      width: 40%;
      float: left;
  }

  @media screen and (max-width:800px) {
      .dentro {
          width: 100%;
          float: none;
          
      }

      .columna {
          width: 100%;
          margin: 0px;
          float: none;
      }

      img {
          margin: 0px;
      }

      p {
          font-size: small;
      }

      h1 {
          font-size:large;
      }
  }