h1{
    animation-name:fuentecambio;
    animation-duration: 5s;
    text-align: center;
    font-size: 20px;
    animation-iteration-count: infinite;
}
@keyframes fuentecambio {
    to {font-size: 40px;
    }
}
body { 
    background-color:green;
    animation-name:animacion;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   
}
@keyframes animacion {
    0% {background-color:yellowgreen}
    50% {background-color: chartreuse;}
    0% {background-color: darkgoldenrod;}
}

img {
    width: 100px;
    animation-name:modifimagen;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    align-content: center;
    align-items: center;
    
}
@keyframes modifimagen {
    to {width: 200px;}
}

.imagenescentro {
    width: 200px;
    margin: 20px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    align-items: center;
    top: 50%;
    left: 40%;
    position: relative;
    
}
